@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap");

body {
  background-color: rgb(255, 247, 241);
  height: 100%;
}
header {
  text-align: center;
  padding: 60px;
  color: black;
  font-family: cursive;
  /* font-size: 3em; */
  font-size: 6vw;
}



.join {
  /* text-align: center;
  font-size: 3vw; */
  max-width: 50%;
  /* max-height: 50%; */
  /* border-style: dotted; */
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 5px;
  /* padding: 10% 10% 10% 10%; */
  margin: 2px auto;
  box-shadow: 5px 2px 10px #aaa;
  font-family: "Noto Serif KR", serif;
}
.pageName {
  text-align: center;
  font-size: 2.2vw;
  padding: 30px;
  font-weight: bold;
}

.errormsg {
  text-align: center;
  color: #f76156;
}

.joinField {
  /* padding: 5px; */
  padding-left: 30px;
  /* text-align: center; */
}

/* .underline {
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 1;
} */

input[type="text"],
input[type="email"],
input[type="password"],
#emailCheck {
  /* width: 100%; */
  padding: 5px;
  border: 1px solid rgb(63, 42, 3);
  border-radius: 4px;
  resize: vertical;
  background-color: rgb(243, 236, 231);
  font-family: "Noto Serif KR", serif;
  font-size: 1.6vw;
  width: 40%;
}

input[type="email"]{
  width: 64%;
  display: inline-block;
  margin-right: 8px;
}

#emailSet {
  display: flex;
}

#emailCheck {
  display: inline-block;
  width: 14%;
  text-align: center;
}

#emailCheck:hover {
  cursor: pointer;
}

input[type="password"] {
  width: 60%;
}

label {
  font-size: 1.6vw;
  padding: 3px 3px 3px 0;
  display: inline-block;
}

.decription {
  font-size: 1.3vw;
  /* padding: 8px 8px 8px 0; */
  display: inline-block;
  color: rgb(134, 132, 131);
}

input[type="submit"] {
  background-color: #e5e5e2;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: center;
  margin: auto;
  font-size: 1.5vw;
  font-family: "Noto Serif KR", serif;
}
.submitBtn {
  padding: 0 0 15px 0;
  text-align: center;
}
/* input[type="submit"]:hover {
  background-color: #a39a86;
  color: black;
} */

/* footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
} */

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
